<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        div{
            margin: auto 5px;
        }
    </style>
</head>
<body>
    <h4>Edit Chat No: <%=chat._id%></h4>
    <div>
    <p>From : <b><i><%=chat.from%></i></b></p>
    <p>To : <b><i><%=chat.to%></i></b></p>
    <form action="/chats/<%=chat.id%>?_method=PUT" method="post">
    <textarea name="msg" cols="40" rows="10"><%=chat.msg%></textarea><br>
    <button>Edit</button>
    </form></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>